div {
  font-family: "Times New Roman", Times, serif;
}

#blue-box {
  width: 50px;
  height: 50px;
  background-color: blue;
}

#meme {
  width: 100%;
}

#planet-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.planet-card {
  width: 150px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.planet-name {
  margin-bottom: -10px;
}

.planet-emoji {
  margin-bottom: -10px;
  margin-top: -5px;
}
